body{
  background-color: rgb(192, 240, 224)
}


.heading{
    width: 1200;
    height: 500;
    background-color: aquamarine;
    text-align: center;
    margin: auto;
    grid-area: "a a a";
}

.rendering{
    text-align: center;
    margin: auto;
}
main{
    grid-area: "b c"
    "b c";
}

body img{

    border-style:groove;

border-color: rgba(45, 45, 45, 0.298);
}

.convertTRUE{
    text-align: center;
}

.rendering{
    display:block;
}

/* When Functiojn is Called for previous searches */
.rendering2{
    text-align: center;
    margin: auto;
}

.hidden{
    display:block;
}

.rendering2{
    display:block;
}

/* ----------------GRID---------------------- */
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 6;text-align: center;background-color: aquamarine; }
  .div2 { grid-area: 2 / 1 / 4 / 2;text-align: center; background-color: rgb(237, 252, 247);padding-top:70px ; padding-left:20px;padding-right:50px;}
  .div3 { grid-area: 2 / 2 / 4 / 5; text-align: center;background-color: rgb(216, 255, 242);padding-bottom:70px ;}
  .div4 { grid-area: 2 / 5 / 4 / 6; text-align: center;background-color: rgb(197, 224, 215)}
  .div5 { grid-area: 4 / 2 / 6 / 3; text-align: center;background-color: rgb(192, 240, 224);padding-top:70px ;}
  .div6 { grid-area: 4 / 3 / 6 / 4; text-align: center;background-color: rgb(192, 240, 224);padding-top:70px ;}
  .div7 { grid-area: 4 / 4 / 6 / 5; text-align: center;background-color: rgb(192, 240, 224);padding-top:70px ;}