body {
  background-color: rgb(236, 231, 231);
}

.container1 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

main {
  visibility: hidden;
  padding-top: 30px;
}

.one {
  text-align: center;
  padding: 20px 30px;
  background: url("https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xvdWRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60")
    no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 9px;
  border-top: 40px solid #005692;
  border-bottom: 40px solid #005692;
}

h1 {
  color: #005692;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 45px;
  text-shadow: -5px -1px white;
}

p.placeholder {
  padding: 30px;
  background-color: #005692;
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  color: aliceblue;
  position: relative;
  left: -100px;
  top: 30px;
  visibility: visible;
  margin: auto;
  justify-content: center;
  padding: 100px 300px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 9px;
}

.two {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: left;
  padding: 20px;
  visibility: hidden;
}

.nine {
  grid-column: 3/4;
  grid-row: 1/2;
  padding: 20px;
}

.three {
  grid-column: 2/3;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  text-align: center;
  margin: auto;
}

.current-weather {
  text-align: center;
  border: 3px solid #71a8b7;
  padding: 100px 0px;
  border-radius: 15px;
  background: url("https://images.unsplash.com/photo-1530908295418-a12e326966ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2t5JTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60")
    no-repeat;
  background-size: cover;
}

.five {
  grid-column: 1/4;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  border: 1px solid #ec9c97;
  border-radius: 15px;
}

.six {
  grid-column: 1/2;
  text-align: center;
  justify-content: center;
  border: 1px solid #71a8b7;
  padding: 100px 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #7f8284;
}

.seven {
  grid-column: 2/3;
  text-align: center;
  border: 1px solid #71a8b7;
  padding: 100px 0px;
  background-color: #ec9c97;
}

.eight {
  grid-column: 3/4;
  text-align: center;
  border: 1px solid #7f8284;
  padding: 100px 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #71a8b7;
}

#button {
  border-radius: 9px;
  color: rgb(42, 95, 149);
  border: 4px solid black;
  background-color: white;
}

.input {
  border-radius: 9px;
}

.previous {
  color: #005692;
  font-size: 16px;
}

.searches {
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: 2px solid black;
  background-color: rgb(42, 95, 149);
  border-radius: 9px;
  text-align: center;
  font-family: monospace;
}

.widget {
  background-color: #e99d9b;
  text-align: center;
  border: 3px solid black;
  font-size: 20px;
  padding-top: 20px;
}

.cv {
  font-size: 25px;
}

h2 {
  text-shadow: 2px 2px rgb(211, 75, 139, 0.272);
  color: rgb(23, 49, 75);
  font-style: italic;
  text-decoration: underline;
}

p {
  color: rgb(23, 49, 75);
}

.a {
  color: #71a8b7;
}

.a:hover {
  color: #945c5c;
}

li {
  color: #945c5c;
}

#temp-to-convert:hover {
  background-color: rgba(202, 219, 235, 0.608);
}

.input:hover {
  background-color: rgb(202, 219, 235, 0.608);
}

h2::first-line {
  text-transform: capitalize;
}

#location {
  color: #71a8b7;
  position: relative;
  left: -26px;
  bottom: -2px;
  font-size: 16px;
}

#arrow {
  color: white;
}

.current-weather p {
  color: rgb(0, 0, 0);
}

.current-weather p::first-letter {
  color: #71a8b7;
}

.conv_submit {
  background-color: white;
  color: #71a8b7;
  border: 4px solid black;
}

.label {
  color: white;
  font-size: 24px;
}

::placeholder {
  color: rgb(42, 95, 149);
  opacity: 1;
}
