* {
  box-sizing: border-box;
}

:root {
  --blue: #258080;
}

html,
body {
  margin: 0;
  padding: 0;
}


.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  display: grid;

  row-gap: 2rem;
  column-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "header header header header header"
    "leftAside main main main rightAside";
}

.header {
  grid-area: header;
  border: 2px solid black;
  background: var(--blue);
  text-align: center;
  padding: 3rem;

  font-weight: bold;
  color: white;
}

.main {
  grid-area: main;
  text-align: center;
}

.active-weather,
.upcoming.active > article {
  border: 2px solid var(--blue);
  background-color: #efefef;
}

.upcoming {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}


.left-aside {
  grid-area: leftAside;
}

.left-aside .form-control {
  margin-bottom: 0.8rem;
  margin-top: 0.5rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.right-aside {
  grid-area: rightAside;
}
