/* body{
    
} */


.heading{
    width: 1200;
    height: 500;
    background-color: aquamarine;
    text-align: center;
    margin: auto;
    grid-area: "a a a";
}

.rendering{
    text-align: center;
    margin: auto;
}
main{
    grid-area: "b c"
    "b c";
}

body img{

    border-style:groove;

border-color: rgba(45, 45, 45, 0.298);
}

.convertTRUE{
    text-align: center;
}

.rendering{
    display:block;
}

/* When Functiojn is Called for previous searches */
.rendering2{
    text-align: center;
    margin: auto;
}

.hidden{
    display:block;
}

.rendering2{
    display:block;
}