* {
    font-family:"Helvetica", "Comic Sans", cursive;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

.div-search {
    background-color: aliceblue;
    opacity: 40%;
}

body {
    background: url("assets/cloudweather.jpeg");
    background-size: cover;
}

input[id*=citySubmit] {
    color:rgb(196, 4, 43);
}
input:hover[id*=citySubmit] {
    color:rgb(26, 107, 39);
}

input[id*=submitButton] {
    color:mediumblue;
}
input:hover[id*=submitButton] {
    color:rgb(189, 16, 42);
}

input[type*=number] {
    color:orange;
}

input[placeholder="type here"] {
    color: rgb(238, 120, 81);
}

input[type*=radio] {
    color: goldenrod;
}

a[href*="weather"] {
    color: green;
}

a[href*="youtube"] {
    color: darkred;
    opacity: 0.35;
}

h4 {
    color:rgb(105, 7, 171);
    opacity: 0.5;
}

h1 {
    color:rgb(159, 5, 67);   
}

.history {
    background-color: bisque;
    color:rgb(3, 19, 136);
    opacity: 0.5;
}

.heading-background {
    background-color: rgb(30, 222, 222);
  }

  .main-Aside p {
    font-weight:normal;
  }

  .want-Celsius {
    color: darkcyan;
    font-family: cursive;
  }

  .want-f {
    color:tomato;
    font-family: cursive;
  }

  .tconv {
    color:darkmagenta;
    font-family: cursive;
  }

  .pickCity {
    color:darkgreen;
    font-family: cursive;
  }

  .today , .tomorrow, .day-after {
    border:3px solid rgba(18, 177, 212, 0.93);
    margin-left: 0%;
    margin-right: 0%;
    padding: auto 0%;
  }

.plocation {
    color:limegreen;
}

.formSubmit {
    padding-right: 0%;
    padding-left: 0%;
}

.main-Aside {
    background-color: aquamarine;
    opacity: 65%;
}
.current-info {
    background-color: cadetblue;
    opacity: 75%;
}

.div-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,3fr);
}

.div-widget {
    border: 2px solid rgb(111, 173, 228);
}


