
body {
  padding: 3px 230px 0px 230px;
}

header {
  text-align:center;
  border: solid 2px #000;
  background-color: rgb(25, 114, 106);
  padding: 1rem;
}

h1 {
  color: white;
}

header form {
  padding: .2rem;
}
header form label {
  color: #fff;
  font-weight: bold;
}

#temp-converter {
  padding-top: 1rem;
}

.searchedLocations {
  margin-top: 1rem;
  border-style: solid;
  border-color: rgb(24, 116, 107);
  background-color: rgb(234 234 234);
}

.defaultMessage{
  font-size: 3rem;
}

.middle {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.middle main {
  text-align: center;
}

.middle aside {
  padding-left: 1rem;
}

.middle .locationDetails .days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.days {
  text-align: center;
}

.days div {
border: 1px solid rgb(24, 116, 107);;
  background-color: rgb(234 234 234);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0px 2px;
}
ul.prev-search li a {
color: blue;
text-decoration: underline;
cursor: pointer;
}